body {
    font-size: 32px;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.calculator {
    margin-top: 50px;
}

.screen {
    display: flex;
    justify-content:flex-end;
    align-items:center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
    width: 404px;
    background-color: #ededed;
}

#output {
    text-align: right;
    padding-right: 25px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 1px;
  }

.button{
    height: 100px;
    background-color: gainsboro;
    text-align: center;
}

.button:hover{
    background-color: black;
    color: antiquewhite;
    transition: 0.3s
}
