body {
    font-size: 24px;
}

.screen {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 204px;
    background-color: #ededed;
}

.output {
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    gap: 1px;
    text-align: center;
}

.button{
    padding: 10px;
    background-color: gainsboro;
}
